@import 'styles/variables.scss';

.single-comic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    color: var(--text-color);

    &__img {
        width: 293px;
        height: 450px;
        box-shadow: 0px 0px 10px var(--shadow-color);
    }

    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }

    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }

    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: var(--main-color);
        margin-top: 25px;
    }

    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;

        @media (any-hover: hover) {
            &:hover {
                color: var(--main-color);
            }
        }

        @media (max-width: $max-width-desktop) {
            width: 100%;
            text-align: center;
            background-color: $main-color;
            padding: 5px;
            color: #fff;
        }
    }

    @media (max-width: $max-width-desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;
    }
}