@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './variables';
@import './button';
@import './null.scss';

// general styles

* {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-color: var(--app-color);
}

#root {
    position: relative;
}

main {
    margin-top: 50px;
    position: relative;
}

.app {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;

    .bg-decoration {
        position: absolute;
        right: -174px;
        bottom: -0;
        z-index: -1;
    }

    @media (max-width: $max-width-desktop) {
        max-width: $max-width-lg;
        padding: 50px 30px;
    }

    @media (max-width: $max-width-lg) {
        max-width: $max-width-md;
    }

    @media (max-width: $max-width-md) {
        max-width: $max-width-sm;
    }

    @media (max-width: $max-width-xs) {
        max-width: 100%;
        padding: 80px 15px;
    }
}

// animations
.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }

    50% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}

// scrollbar styles
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: $dark ;
    border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $main-color ;
    border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-track:horizontal {
    background-color: $dark ;
    border-radius: 10px 10px 0 0;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: $main-color ;
    border-radius: 10px 10px 0 0;
}