@import 'styles/variables.scss';

$btn-width: 90px;

.mode {
    position: fixed;
    left: - calc($btn-width / 2);
    top: - calc($btn-width / 2);

    display: flex;
    justify-content: center;
    align-items: center;

    width: $btn-width;
    aspect-ratio: 1;
    background-color: $main-color;
    border-radius: 100%;
    z-index: 10;

    &__icon {
        position: absolute;
        top: 53px;
        left: 53px;

        width: 20px;
        aspect-ratio: 1;
    }
}