@import 'styles/variables.scss';

.notFound {
    width: 100%;
    height: calc(100vh - 187px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

}

.notFound_content {
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20vw;
        text-align: center;

        @media (max-width: $max-width-md) {
            font-size: 40vw;
        }
    }

    h4 {
        position: relative;
        font-size: 1.4em;
        margin-bottom: 20px;
        background: $main-color;
        color: #fff;
        font-weight: 700;
        padding: 10px 20px;
        display: inline-block;
    }

    p {
        font-size: 1.2em;
    }


}

.notFound__img {
    width: 20vw;

    img {
        width: 100%;
        filter: drop-shadow(0px 0px 10px var(--shadow-color));
    }

    @media (max-width: $max-width-md) {
        width: 40vw;
    }
}